/* -- Base Styles  ---------- */
html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;

  @media only screen and (max-width: 880px) {
    font-size: 56%;
  }
  @media only screen and (max-width: 750px) {
    font-size: 50%;
  }
  @media only screen and (max-width: 700px) {
    font-size: 45%;
  }
  @media only screen and (max-width: 500px) {
    font-size: 40%;
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html * {
  padding: 0;
  margin: 0;
}

body {
  border-top: 5px solid #303030;
  background-color: var(--bg-color);
  font-family: var(--primary-font);
}

a,
a:link,
a:visited {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

ul,
li {
  list-style: none;
}
