@font-face {
  font-display: fallback;
  font-family: "Inter UI";
  font-style: normal;
  font-weight: 600;
  src: url("../assets/fonts/Inter-SemiBold.woff2") format("woff2"),
    url("../assets/fonts/Inter-SemiBold.woff2") format("woff");
}

@font-face {
  font-display: fallback;
  font-family: "Inter UI";
  font-style: normal;
  font-weight: 700;
  src: url("../assets/fonts/Inter-Bold.woff2") format("woff2"),
    url("../assets/fonts/Inter-Bold.woff") format("woff");
}

@font-face {
  font-family: "Hunter River";
  font-style: normal;
  font-weight: normal;
  src: url("../assets/fonts/HunterRiver-Regular.woff") format("woff");
}
