.content {
  min-height: calc(100vh- 16rem);
  padding: 7rem 10rem;
  margin-bottom: auto;
  @media screen and (max-width: 50rem) {
    padding: 5rem 4rem;
  }

  &__heading {
    margin-bottom: 5rem;
    font-size: 5.2rem;
  }
}
