.header {
  display: flex;
  height: 8rem;
  align-items: center;
  justify-content: space-between;
  padding: 0 10rem;
  font-size: 3rem;
  font-weight: 700;

  &-logo {
    font-family: var(--header-logo-font);
    font-size: 3.8rem;
  }

  @media screen and (max-width: 76.8rem) {
    padding: 0 4rem;
  }
}
