.result {
  max-width: 100rem;
  &__text {
    min-height: 40vh;
    color: #000000;
    font-size: 3.6rem;
    font-weight: 600;
    line-height: 1.9;

    @media screen and (max-width: 40rem) {
      font-size: 3.6rem;
    }
  }
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 5%;
  color: var(--bg-color);
}
.button {
  padding: 1rem 4rem;
  border: none;
  background-color: #040404;
  border-radius: 5px;
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.25);
  color: var(--bg-color);
  cursor: pointer;
  font-size: 2.4rem;
  font-weight: 700;
}
